:root {
  --white : #fff;
  --primary: #f59e0b;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: rgba(106, 84, 6, 0.365);
  color: var(--white);
  font-size: 2rem;
}